---
- name: Enable snap 
  become: True  
  ansible.builtin.file:
    path: /etc/apt/preferences.d/nosnap.pref
    state: absent

- name: Update apt cache
  become: True
  apt: update_cache=yes

- name: Install apt dependencies
  become: True
  apt: name={{ item }}
  with_items:
    - apt-transport-https
    - autoconf
    - bison
    - build-essential
    - ca-certificates
    - curl    
    - htop
    - imagemagick
    - libffi-dev
    - libmcrypt-dev
    - libssl-dev
    - libpq-dev
    - libyaml-dev
    - python3-dev
    - python3-venv
    - snapd
    - tmux
    - tree
    - ttf-mscorefonts-installer
    - vim
    - vlc
    - wget

- name: Install programs
  become: true
  community.general.snap:
    name:
      - keepassxc
      - discord
      - gimp
      - slack
      - spotify
