---
- name: Update apt cache
  become: True
  apt: update_cache=yes

- name: Install apt dependencies
  become: True
  apt: name={{ item }}
  with_items:
    - autoconf
    - bison
    - build-essential
    - libssl-dev
    - libffi-dev
    - python3-dev
    - python3-venv
    - libyaml-dev
    - htop
    - tree
    - wget
    - tmux
    - ttf-mscorefonts-installer